#cart-icon {
    width: 25px;
    display: inline-block;
    margin-left: 15px;
}

#cart-total {
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
    vertical-align: middle;
}

/* Styling for the navbar */
.navbar {
    border-radius: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    background-color: purple!important;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 24px;
}

.nav-link.active {
    border-bottom: 2px solid #ffc107;
}

.btn-warning {
    margin-right: 16px;
}
